PORT=5000
DATABASE_URL=mongodb+srv://rabbinur-distributor:Uob22r9VhWgub9mF@cluster0.7mvqmtg.mongodb.net/mimisphere?appName=Cluster0
NODE_ENV=development


BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d

# Payment Gateways
EKPAY_MER_REG_ID=
EKPAY_MER_PAS_KEY=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_BASE_URL=

# External APIs
CJ_API_KEY=
META_TOKEN=
META_PIXEL_ID=
GOOGLE_MERCHANT_ID=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_FILE_LOAD_BASE=

#Cloudinary
CLOUDINARY_CLOUD_NAME=dpzpbpkt
CLOUDINARY_API_KEY=846295281784474
CLOUDINARY_API_SECRET=NA3QqYmrrtWx12fNYvPhplEomQ8


# Email (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_USER=baa3c9001@smtp-brevo.com
SMTP_PASS=xsmtpsib-ea7698a84d7d4d637e7e351cae4598b709e40219033e7c84be6123391a13ccf7-WEPAKAQjTzlkfxuv
FRONTEND_URL=http://localhost:3001
